A very simple test of the fast.ai v1.0 library with the Titanic dataset

In [1]:
from fastai import *          # Quick accesss to most common functionality
from fastai.tabular import *  # Quick accesss to tabular functionality
import pandas as pd 
from fastai.docs import *     # Access to example data provided with fastai

In [2]:
train = pd.read_csv('train.csv')

train['Last_name'], train['First_names'] =train['Name'].str.split(',',1).str
train['Title'] = train['First_names'].str.split('.',).str[0].map(lambda x:x.strip())
#train['Sex'] = train['Sex'].map({'male':0,'female':1})


train_df, valid_df = train[:-600].copy(),train[-600:].copy()
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Last_name,First_names,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer),Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry,Mr

In [4]:

dep_var = 'Survived'
#cat_names = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
cat_names = ['Sex', 'Cabin','Pclass', 'Parch', 'Title', 'Embarked']
cont_names = ['Age','SibSp']
data = tabular_data_from_df('.', train_df, valid_df, dep_var, tfms=[Categorify,FillMissing], 
                            cat_names=cat_names, cont_names=cont_names)

data

In [5]:
learn = get_tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit(30, 1e-2)

VBox(children=(HBox(children=(IntProgress(value=0, max=30), HTML(value='0.00% [0/30 00:00<00:00]'))), HTML(valâ€¦

Total time: 00:06
epoch  train loss  valid loss  accuracy
0      4.068811    nan         0.611667  (00:00)
1      3.282321    nan         0.620000  (00:00)
2      2.744991    nan         0.628333  (00:00)
3      2.277443    nan         0.633333  (00:00)
4      1.918787    nan         0.800000  (00:00)
5      1.666457    nan         0.776667  (00:00)
6      1.477250    nan         0.778333  (00:00)
7      1.316458    nan         0.795000  (00:00)
8      1.175733    nan         0.786667  (00:00)
9      1.060249    nan         0.798333  (00:00)
10     0.972668    nan         0.793333  (00:00)
11     0.895252    nan         0.791667  (00:00)
12     0.829103    nan         0.786667  (00:00)
13     0.774792    nan         0.801667  (00:00)
14     0.725942    nan         0.786667  (00:00)
15     0.683855    nan         0.796667  (00:00)
16     0.647697    nan         0.791667  (00:00)
17     0.615945    nan         0.795000  (00:00)
18     0.588844    nan         0.786667  (00:00)
19     0.564340    nan         0.791667  (00:00)
20     0.544312    nan         0.783333  (00:00)
21     0.526466    nan         0.796667  (00:00)
22     0.511752    nan         0.803333  (00:00)
23     0.498247    nan         0.785000  (00:00)
24     0.486402    nan         0.803333  (00:00)
25     0.477303    nan         0.785000  (00:00)
26     0.470429    nan         0.781667  (00:00)
27     0.463455    nan         0.790000  (00:00)
28     0.462081    nan         0.790000  (00:00)
29     0.452428    nan         0.746667  (00:00)